<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\uig12438\AppData\Local\Programs\Python\Python311\python.exe|C:\Users\uig12438\AppData\Local\Programs\Python\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
