
 {% extends 'base.html' %}


 
 {% block content %}
 
 <div>
     <h3>Your Cart</h3>
     <table>
         <tr>
             <th>Product</th>
             <th>Quantity</th>
             <th>Price</th>
         </tr>
         {% for item in cart_items %}
         <tr>
             <td>{{ item.name }}</td>
             <td>{{ item.quantity }}</td>
             <td>${{ item.price }}</td>
         </tr>
         {% endfor %}
     </table>
     <p><strong>Total Price: ${{ total_price }}</strong></p>
 </div>
 
 <div>
    <h3>Shipping Address</h3>
    <p>Current Address:</p>
    <div style="margin-bottom: 20px; padding: 10px; background-color: #f7f7f7; border: 1px solid #ddd; border-radius: 5px;">
        {{ address }}
    </div>

    <button id="edit-address-btn">Edit Address</button>

    <form action="{% url 'checkout' %}" method="post" id="address-form" style="display: none;">
        {% csrf_token %}
        <!-- Split address into multiple fields -->
        <div>
            <label for="street_name">Street Name:</label>
            <input type="text" id="street_name" name="street_name" required value="{{ address.street_name|default_if_none:'' }}">
        </div>
        <div>
            <label for="city_town">City/Town:</label>
            <input type="text" id="city_town" name="city_town" required value="{{ address.city_town|default_if_none:'' }}">
        </div>
        <div>
            <label for="state">State:</label>
            <input type="text" id="state" name="state" required value="{{ address.state|default_if_none:'' }}">
        </div>
        <div>
            <label for="zipcode">Zipcode:</label>
            <input type="text" id="zipcode" name="zipcode" required value="{{ address.zipcode|default_if_none:'' }}">
        </div>
        
        <button type="submit">Update Address</button>
    </form>
</div>
 
 <div>
     <h4>Pay with PayPal</h4>
     {{ form.render }}
 </div>

 <script>
    document.addEventListener('DOMContentLoaded', function() {
        const editAddressBtn = document.getElementById('edit-address-btn');
        const addressForm = document.getElementById('address-form');

        editAddressBtn.addEventListener('click', function() {
            // Toggle the visibility of the address form
            if (addressForm.style.display === 'none') {
                addressForm.style.display = 'block';
            } else {
                addressForm.style.display = 'none';
            }
        });
    });
</script>

 
{% endblock %}
 